{% extends "base.html" %}
{% load static %}

{% block title %} Articulos {% endblock %}


{% block extra_css %}
<style>
  .color_update{
    color: #FFBE33;
    font-size: 22px;
  }
  .color_delete{
    color: #F3111F;
    font-size: 22px;
  }
  .color_success{
    color: #9ACD32;
    font-size: 50px;
  }



</style>

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
</style>

{% endblock %}

{% block content %}

{% block content_head %}



<!-- Bloque Titulo-->
      <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
          <h1>Articulos</h1>
        </div>
      </div>


{% endblock %}

{% block breadcrumb %}
    
  <li class="breadcrumb-item active" aria-current="page">Articulos</li>

{% endblock %}

      
      
{% block content_body %}

  
 <div class="row">
{% for producto in productos %}
 
    <div class="col-sm-3">
      <div class="card mb-4 mr-1 text-center" style="width: 12rem;">
        <img src="{{producto.foto.url}}" class="card-img-center"  alt="{{producto.nombre_p}}" style="width:150px; height:150px;">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre_p}}</h5>
          <p class="card-text"><strong>Precio: ${{producto.precio}}CLP</strong></p>
          <a href="#" ><i class="fas fa-cart-plus color_success"></i></a>
        </div>
      </div>
    </div>



{% endfor %}

</div>

{% endblock %}
{% endblock %}
