{% extends "base.html" %}
{% load static %}

{% block title %} Articulos {% endblock %}


{% block extra_css %}
<style>
  .color_update{
    color: #FFBE33;
    font-size: 40px;
  }
  .color_delete{
    color: #F3111F;
    font-size: 40px;
  }
  .color_success{
    color: #9ACD32;
    font-size: 40px;
  }


.card-img-top{
  margin:10px auto;
  display:block;

}


</style>

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}



</style>

{% endblock %}

{% block content %}

{% block content_head %}



<!-- Bloque Titulo-->
      <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
          <h1>Articulos</h1>
        </div>
      </div>


{% endblock %}

{% block breadcrumb %}
    
  <li class="breadcrumb-item active" aria-current="page">Articulos</li>

{% endblock %}

      
      
{% block content_body %}

{% if messages %}
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" href="{% url 'fiesta:articulos'%}" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      {% endfor %}
  {% endif %}


  
 <div class="row">
{% for producto in productos %}

    <div class="col-sm-3">
      <div class="card text-white bg-dark mb-3 mr-1 text-center" style="width: 12rem;">
        <img src="{{producto.foto.url}}" class="card-img-top"  alt="{{producto.nombre_p}}" style="width:150px; height:150px;">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre_p}}</h5>
          <p class="card-text"><strong>Precio: ${{producto.precio}}CLP</strong></p>

          {% if perms.LogAuth.is_cliente %}
            <a href="{% url 'fiesta:addproducto' producto.id %}"><i class="fas fa-cart-plus color_success"></i></a>
          {% endif %}

          {% if perms.LogAuth.is_cliente %}
            <a href="{% url 'fiesta:quitarproducto' producto.id %}"><i class="fas fa-cart-arrow-down color_delete"></i></a>
          {% endif %}

          {% if perms.LogAuth.is_admin %}
            <a href="{% url 'fiesta:update' producto.id %}"><i class="fas fa-edit color_update"></i></a>
          {% endif %}

          {% if perms.LogAuth.is_admin %}
            <a href="{% url 'fiesta:delete' producto.id %}"><i class="fas fa-trash color_delete"></i></a>
          {% endif %}

        </div>
      </div>
  </div>



{% endfor %}

</div>

{% endblock %}
{% endblock %}
