{% extends "base.html" %}


{% block title %} {{title}} {% endblock %}


{% block extra_css %}
<style>
  .color_update{
    color: #FFBE33;
    font-size: 22px;
  }
  .color_delete{
    color: #F3111F;
    font-size: 22px;
  }
  </style>
{% endblock %}

{% block content %}

{% block content_head %}



      <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
          <h1>Carrito</h1>
        </div>
        <div class="col-md-4 col-lg-2">

        </div>
      </div>


{% endblock %}

{% block breadcrumb %}
    
  <li class="breadcrumb-item active" aria-current="page">Carrito</li>

{% endblock %}

      
      
{% block content_body %}

<p> Oh vaya, al parecer tu carrito está vacío </p>
<a href="{% url 'fiesta:home' %}" class="btn btn-primary">Volver al home</a>

{% endblock %}
{% endblock %}