{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
Actualizar Producto
{% endblock %}

{% block content_head %}
 <h2>Editar Producto </h2>
{% endblock %}



{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'fiesta:home'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Actualizar Producto</li>
{% endblock %}




{% block content_body %}

 <form class="" method="post">
   {% csrf_token %}
        
   {% bootstrap_form form %}

   {% buttons %}
     <button type="submit" class="btn btn-primary btn-lg">
       <i class="fas fa-edit"></i> Actualizar Producto
     </button>
   {% endbuttons %}


 </form>

{% endblock %}
