{% load static %}	

  
  <nav class="navbar navbar-dark bg-dark-primary">
    <div class="container">
      
            <p class="text-right">Hola {{user_type}} <strong>{{user}} | </strong> <a href="{% url 'auth:logout' %}">Logout<i class="fas fa-sign-out-alt"></i></a></p>
      
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container"><!--Lo meto a un contenedor para que me quede centrado y full width -->
        <a class="navbar-brand" href="{% url 'fiesta:home' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="LOGO FIESTA" id="logo">
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">


              <li>
                <a class="nav-link" href="{% url 'fiesta:home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'fiesta:articulos' %}">Articulos</a>
              </li>



              <li class="nav-item dropdown">
                <img src="{% static 'images/carrito.png' %}" alt="img carrito" id="logo" style="max-width:60px;" class="nav-link dropdown-toggle img-fluid" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
                  <table id="lista-carrito" class="table">
                      <thead>
                          <tr>
                              <th>Imagen</th>
                              <th>Nombre</th>
                              <th>Cantidad</th>
                              <th>Precio</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for ordencompra in OC %}
                          <tr>
                              <td><img src="{{ordencompra.producto.foto.url}}" alt="{{producto.nombre_p}}" style="width:30px; height:30px;"></td>
                              <td>{{ordencompra.producto.nombre_p}}</td>
                              <td>{{ordencompra.cantidad_producto}}</td>
                              <td>{{ordencompra.total}}</td>
                          </tr>
                        {% endfor %}

                           
                      </tbody>
                  </table>

                  <a href="{% url 'fiesta:vaciar' %}" class="btn btn-danger btn-block">Vaciar Carrito</a>
                  <a href="{% url 'fiesta:carrito' %}" class="btn btn-success btn-block">Terminar Compra</a>
                </div>





                <a class="nav-link" href="{% url 'fiesta:carrito' %}"></a>
              </li>



              <li class="nav-item">
                <a class="nav-link" href="{% url 'fiesta:compras' %}">Compras</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'fiesta:home' %}">
              <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
    </nav>
<!-- Termina el Navbar-->