{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %} {{title}} {% endblock %}

{% block content %}

{% block breadcrumb %}
    
  <li class="breadcrumb-item active" aria-current="page">Actualizar usuario</li>

{% endblock %}

{% block content_head %}



      <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
          <h1>Actualizar usuario</h1>
        </div>
        <div class="col-md-4 col-lg-2">

        </div>
      </div>


{% endblock %}

{% block content_body %}

  <form class="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% bootstrap_form user_form %}
         
    {% bootstrap_form profile_form %}

    {% buttons %}
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-save"></i> Actualizar
      </button>
    {% endbuttons %}
  </form>


{% endblock %}
{% endblock %}